doctype html

// BINARIO CONVERTE PARA LETRAS

html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ENIGMA 03
        link(rel="stylesheet", href="./public/style.css")
    body 
        div 
            h1 01110011
            h1 01100001 
            h1 01100010 
            h1 01101001 
            h1 01101111 
            h1 01110011
            
            form(action="/", method="post")
                input(type="text",name="password")
                input(type="submit",value="Enviar")