doctype html

// CIFRA DE CESAR (ROT25)

html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ENIGMA 04
        link(rel="stylesheet", href="./public/style.css")
    body 
        div 
            h1 tbqpt
            
            form(action="/", method="post")
                input(type="text",name="password")
                input(type="submit",value="Enviar")