doctype html
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ENIGMA ERROR
        link(rel="stylesheet", href="./public/style.css")
    body 
        div 
            h1 ERROR 

            p volte para o inicio 

            a(href="/inicio") INICIO 