doctype html
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ENIGMA FINAL
        link(rel="stylesheet", href="./public/style.css")
    body 
        div 
            h1 FINAL 

            p nem tudo termina, parabéns até aqui