doctype html
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ENIGMA
        link(rel="stylesheet", href="./public/style.css")
    body 
        div 
            h1 ENIGMA 
            button(onclick="location.href='/inicio'") COMEÇAR